<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MZM_Rev_Aug_04.Properties.Settings.MZMdbConnectionString"
            connectionString="Data Source=SCC-PC\SQLEXPRESS;Initial Catalog=tempdb;User ID=sa;Password=leibboos"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>